<h1>Login to workspace</h1>

<form action="/session" method="POST">
  <%= @errors %><br>
  <%= auth_token %>

  Email: <input type="text" name="user[email]" value="<%= @user.email %>">
  <br><br>
  Password: <input type="password" name="user[password]" value="<%= @user.password %>">
  <br><br>

  <input type="submit" value = "Log In">

</form>
