
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <form action="/session" method="POST" class="user-form">
          <div id = "user-form-content">

            <%= auth_token %><br>
            <h3 style="letter-spacing: 5px"> <b> LOGIN </b> </h3>
            <div style="color: red"> <%= @errors %> </div><br>
            <div class = "form-group">
              <input type="text" class="input-large" name="user[email]" placeholder="Email" value="<%= @user.email %>">
            </div>

            <div class = "form-group">
              <input type="password" class="input-large" name="user[password]" placeholder = "Password" value="<%= @user.password %>">
            </div>
            <a style="color:white" href="/users/new"> New to Workspace? </a>
            <br><br>
            <button type="submit" class="btn btn-default">Login</button><br><br>
          </div>
        </form>
      </div>
    </div>
  </div>
