@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: "Work Sans", sans-serif;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/goworkspace/image/upload/c_scale,q_49,w_4473/v1444789468/photo-1429051781835-9f2c0a9df6e4_rvaoqs.jpg");
  background-repeat: no-repeat;
}

nav {
    margin-bottom: 0px;
    height: 50px;
}

#rating-type-seating {
  margin-top: 7px;
}

.navbar {
  border-top: none;
  margin-bottom:0px;
}

#seating {
  margin-top: 15px;
  margin-left: -20px;
}

.btn-default {
  background-color: #f8f8f8;
}

.navbar-brand {
  padding: 0px 0px;
  padding-left: 25px;
  padding-top: 5px;
}

#all-reviews {
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: bold;
}

#form-slider {
  margin-top: -15px;
}

#review-form-input {
  width: 100%;
  height: 100px;
}

#ratings {
  text-align: center;
  letter-spacing: 2px;
  margin-top: -20px;
}

#review-body {
  border: 1px solid black;
}

hr {
  border-color: gray;
}

#power-ratings {
  padding: 10px 10px;
}

#workspace-reviews {
  padding: 10px 10px;
  border: 1px solid black;
}

#user-profile-pic-review {
  padding: 0px 30px;
}

#user-info-review {
  padding: 0px 5px;
  margin-left: -50px;
  margin-right: 20px;
  font-size: 12px;
  font-weight: bold;
}

#input-slider-bar {
  width: 31%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
}

#workspace-profile-image {
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
}

#profile-workspace {
  position:relative;
  z-index: 1000;
  top: -62px;
  border: 1px solid black;
}

.user-form {
  position: relative;
  top: 200px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: 1px solid gray;
}

.input-large {
  height: 35px;
  color:black;
  text-align: center;
}

.navbar-form {
  margin:0px;
}

.search-bar {
  padding-top: 0px;
  height: 50px;
  width: 100%;
}

#search-bar-properties {
  padding: 0px 0px;
}

#logo-bar-properties {
  padding-left: 15px;
}

.submit {
  background-color: cornflowerblue;
  width: 100%;
  border: 1px solid gray;
}

.map {
  margin-top: 20px;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.filter-bar {
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 5px 5px;
  border: 1px solid black;
  #filter-bar-title {
    letter-spacing: 2px;
    margin-right: 50px;
  }
}

.user-info {
  width: 100%;
  text-align: center;
}

.welcome-user {
  padding-top:13px;
  padding-bottom: 17px;
  border-right: 1px solid gray;
}

.cloudinary-thumbnails {
  display: none;
}

#dropdownMenu1 {
  border: 0px;
  padding-left: 0px;
}

.btn-default:hover {
  background-color: #f8f8f8;
}

.dropdown-menu {
  min-width: 0px;
  text-align: center;
  border: 1px solid gray;
}

.open > .dropdown-menu {
  width: 110%;
}

.open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
  background-color: #f8f8f8;
}

#profile-image {
  margin-left: 10px;
}

#workspace-title {
  text-align: center;
}

#workspace-name {
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: 2px;
}

.below-carousel {
  position: relative;
  top: -90px;
}

#workspace-info-name {
  font-size: 20px;
  text-align: center;
}

.workspace-item {
  height: 100px;
  width: 100%;
  border: 1px solid black;
  border-top: none;
  padding: 5px 5px;
  #workspace-profile-picture {
    padding: 0px 0px;
  }
}

.workspace-carousel {
  height: 200px;
  border: 1px solid black;
  border-top: none;
}
