<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Work+Sans', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTbR4dpVakAtw5dpDL5MRdvpxWJq1ZZnU"> </script>

<%= yield %>

</body>
</html>
